.header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    font-size: 2em;
}

.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    padding: 10px;
    border: 1px solid black;
}

.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: lightgreen;
    padding: 20px;
    overflow-y: auto;
    max-height: 1200px;
}

.column.main {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
    margin: auto
}

.footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid black;
}

@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.sideVideo {
    padding-top: 1em;
    padding-bottom: 1em;
}